.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  @media (min-width:1024px) {
    justify-content: space-between;
  }

  .resume {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    width: 52%;
    overflow: scroll;
    @media (max-width: 1024px) {
      padding: 1rem 2rem;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    .header {
      display: flex;

      @media (max-width: 426px) {
        flex-wrap: wrap;
      }

      .profileImg {
        cursor: pointer;
        padding-right: 1rem;

        .imgBlock {
          background-color: #F4F4F5;
          padding: 3rem 3.5rem;
          border-radius: 5px;
          border: 0.5px solid #FFFFFF;

          svg {
            width: 1.25rem;
            --tw-text-opacity: 1;
            color: rgb(162 162 168/var(--tw-text-opacity))
          }

          &:focus {
            border: 0.5px solid #5d25e7;
          }

          @media (max-width: 426px) {
            margin-bottom: 10px;
          }
        }
      }

      .headerInputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: -9px;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
    }

    .footer {
      display: flex;
      justify-content: flex-end;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        border: none;
        outline: none;
        transition-duration: .15s;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 1rem;
        text-transform: capitalize;
        padding: 0.5rem 0;
        background-color: #4314B3;
        width: 130px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 1rem;

        &:hover {
          background-color: #5d25e7;
        }

        svg {
          margin-top: -1px;
          margin-right: 5px;
          font-weight: 600;
        }
      }
    }

    .dflex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      input {
        width: 250px;

        @media (max-width: 1440px) {
          width: 225px;
        }

        @media (max-width: 1024px) {
          width: 140px;
        }

        @media (max-width: 768px) {
          width: 265px;
        }
      }

      .input2 {
        width: 325px;

        @media (max-width: 1440px) {
          width: 300px;
        }

        @media (max-width: 1024px) {
          width: 215px;
        }

        @media (max-width: 768px) {
          width: 340px;
        }
      }

      input,
      .input2 {
        @media (max-width: 426px) {
          width: 360px;
        }

        @media (max-width: 376px) {
          width: 305px;
        }

        @media (max-width: 321px) {
          width: 255px;
        }
      }

      .select {
        width: 200px;
        height: 40px;
        border-radius: 4px;
        background-color: #F4F4F5;
      }
    }

    div {
      padding: 3px 0;

      div {
        label {
          color: #52525A;
          font-weight: 500;
          white-space: nowrap;
          font-size: .875rem;
        }
      }

      div {
        input, textarea {
          outline: none;
          font-size: 1rem;
          line-height: 1.5rem;
          transition-duration: .15s;
          transition-property: color, background-color, border-color, -webkit-text-decoration-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke;
          transition-timing-function:
            cubic-bezier(.4, 0, .2, 1);
          color: rgb(46 46 51/var(--tw-text-opacity));
          padding: 0.5rem;
          width: 100%;
          --tw-text-opacity: 1;
          background-color: #F4F4F5;
          border: 0.5px solid #FFFFFF;
          border-radius: 5px;
          
          &:focus {
            border: 0.5px solid #5d25e7;
            background-color: #f9f6fe;
          }

          @media (max-width: 376px) {
            width: 98%;
          }
        }
        textarea{
          width: 100%;
          max-width: 675px;
          min-width: 675px;
          max-height: 200px;
          min-height: 44px;
        }

        .date {
          &::placeholder {
            color: #1e1e4e !important;
          }
        }
      }
    }
  }

  .watch {
    width: 40%;
    padding: 1rem 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 768px) {
      width: 400px;
      height: 600px;
      background-color: #1e1e4e;
    }

    .watch_block {
      width: 450px;
      height: 650px;
      border-radius: 6px;
      border-left: 1px solid #52525A;
      border-right: 1px solid #52525A;
      border-bottom: 1px solid #52525A;
      overflow: hidden;

      .block_top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background-color: #4314B3;
        color: aliceblue;
      }
    }
  }
}