.nav {
  @media (min-width:320px) {
    border-bottom: 1px solid #ccc;
    background-color: white;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width:768px) {
    padding: 0.25rem 2rem;
  }

  @media (min-width:1200px) {
    padding: 1rem 100px;
  }

  .logo {
    @media (min-width:320px) {
      width: 100px;
      height: 60px;
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .list {
    @media (min-width:320px) {
      display: none;
      list-style: none;
    }

    @media (min-width:1024px) {
      display: block;
      display: flex;
      gap: 40px;

      li {
        a {
          text-decoration: none;
          color: #333;
          outline: none;
        }
      }
    }
  }

  .burger_menu {
    @media (min-width:1024px) {
      display: none;
    }

    p {
      display: flex;
      align-items: center;
      font-size: 1.75rem;
    }
  }
}